/* Garantee section */

.card-rating {
  margin-top: 55px;
}

.in-rating {
  font-size: 15px;
}

/* Overheard from travelers */

.card-header {
  text-align: center;
  margin-top: 55px;
  color: grey;
  font-weight: 600px;
}

.card-header h3{
  color:#5392F9;
  bottom: 0;
}

.main-container {
  margin: 2% 20%;
}

/* Regular font style */
.main-font {
  font-family: 'Montserrat';
  color: #000000;
}

/* Contrast font style */
.white-main-font {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 16px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}


.about-header{
  margin-top: 280px;
  margin-left: 5%;
  padding: 2rem;
  z-index: 3;
  position: absolute;
}

.about-body-margin{
  margin-top: 900px;
}

.about-margin-10rem{
  margin-top: 10rem;
}

.small-margin{
  margin-top: 2rem;
}

.background-img {
  position: absolute;
}

.centered-text{
  text-align: center;
}

.about-top-image{}

.about-history-image{}

.about-video{}

@media screen and (max-width: 1920px) {
  .about-top-image{
    width: 1920px;
    height: 869px;
  }

  .about-history-image{
    width: 1920px;
    height: 869px;
  }

  .about-video{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1600px) {
  .about-top-image{
    width: 1600px;
    height: 869px;
  }

  .about-video{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1366px) {
  .about-top-image{
    width: 1366px;
    height: 869px;
  }

  .about-video{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .about-top-image{
    width: 1024px;
    height: 869px;
  }

  .about-video{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .about-top-image{
    width: 100%;
    height: auto;
  }

  .about-video{
    width: 100%;
    height: auto;
  }
}
